In [4]:
import pandas as pd
import numpy as np
d=np.nan
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, "NAN", 9, 20, 14.5, "NaN", 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

da=pd.DataFrame(exam_data,index=labels)
print(da)
#print(data.head(3))
#print(data.loc["a","score"])
#a=data.drop(["d","h"])
#print(a)
b=data.drop(columns=["name","score"])
a=data.loc[da["score"]=="NaN"]
print(a)
#print(b)
k=pd.DataFrame({"name" : "Suresh", "score": 15.5, "attempts": 1, "qualify": "yes"},index=["k"])
#print(k)

        name score  attempts qualify
a  Anastasia  12.5         1     yes
b       Dima     9         3      no
c  Katherine  16.5         2     yes
d      James   NAN         3      no
e      Emily     9         2      no
f    Michael    20         3     yes
g    Matthew  14.5         1     yes
h      Laura   NaN         1      no
i      Kevin     8         2      no
j      Jonas    19         1     yes
    name score  attempts qualify
h  Laura   NaN         1      no

In [ ]:
a=pd.DataFrame({"a":[1,2,3],"b":[4,5,6]})
b=pd.DataFrame({"a":[7,8,9],"b":[10,11,12]})
print(a)
print(b)
print(pd.contact([a,b]))

In [ ]:
a=np.nan
print(type(a))