In [31]:
import pandas as pd
import numpy as np
d=np.nan
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, "NAN", 9, 20, 14.5, "NaN", 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

da=pd.DataFrame(exam_data,index=labels)
print(da)
print("*******")
           #quest001
def head3(a):
    return a.head(3)
print(head3(da))
           #quest002



            #quest003
#def extract(a):
   # b=a[:["name","score"]]
   # return a
#extract(da)
      #quest004
def appendk(a,k):
    b=a.append(k)
    print(b)
k=pd.DataFrame({"name" : "Suresh", "score": 15.5, "attempts": 1, "qualify": "yes"},index=["k"])
appendk(da,k)

     #quest005
def drop_(a,b):
    return a.drop(columns=[b])
drop_(da,"attempts")

        name score  attempts qualify
a  Anastasia  12.5         1     yes
b       Dima     9         3      no
c  Katherine  16.5         2     yes
d      James   NAN         3      no
e      Emily     9         2      no
f    Michael    20         3     yes
g    Matthew  14.5         1     yes
h      Laura   NaN         1      no
i      Kevin     8         2      no
j      Jonas    19         1     yes
*******
        name score  attempts qualify
a  Anastasia  12.5         1     yes
b       Dima     9         3      no
c  Katherine  16.5         2     yes
        name score  attempts qualify
a  Anastasia  12.5         1     yes
b       Dima     9         3      no
c  Katherine  16.5         2     yes
d      James   NAN         3      no
e      Emily     9         2      no
f    Michael    20         3     yes
g    Matthew  14.5         1     yes
h      Laura   NaN         1      no
i      Kevin     8         2      no
j      Jonas    19         1     yes
k     Suresh  15.5         1     yes

        name score qualify
a  Anastasia  12.5     yes
b       Dima     9      no
c  Katherine  16.5     yes
d      James   NAN      no
e      Emily     9      no
f    Michael    20     yes
g    Matthew  14.5     yes
h      Laura   NaN      no
i      Kevin     8      no
j      Jonas    19     yes

In [30]:
a=[]
for i in da.score :
    if float(i)<=10 or i==np.nan:
        a.append(0)
    else :
        a.append(1)
exam_data["Success"]=a
da=pd.DataFrame(exam_data,index=labels)
print(da)

        name score  attempts qualify  Success
a  Anastasia  12.5         1     yes        1
b       Dima     9         3      no        0
c  Katherine  16.5         2     yes        1
d      James   NAN         3      no        1
e      Emily     9         2      no        0
f    Michael    20         3     yes        1
g    Matthew  14.5         1     yes        1
h      Laura   NaN         1      no        1
i      Kevin     8         2      no        0
j      Jonas    19         1     yes        1